section{
    border: 2px solid gray;
    height: 30rem;
    width: 25%;

  
}
div{
    border: 2px solid gray;

}
section.result{
 display: grid;
 height: 10ch;
 background-color: rgba(77, 77, 77, 0.935);
 color: white;
 text-align: right;

}

section.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 2 ; 
    height: 10ch;
    background-color: rgb(193, 192, 192);
    text-align: center;

    
}
section.son{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 10ch;
    text-align: center;
    
}

section.qcs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 10ch;
    text-align: center;
}

section.udt{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 10ch;
    text-align: center;
}

section.finale{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 10ch;
    text-align: center;
   
}

#uguale{
    margin-top: -32ch;
    background-color: red;
    text-align: center;
    
    
}


