body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:(3,1fr) ; 

}
#green{
    grid-area: 1/1/1/4

}

#yellow{
    grid-area: 2/1/2/1


}

#orange{
    grid-area: 3/3/3/1;

}

#red{
    grid-area: 2/2/2/2;

}

#blue{
    grid-area: 4/3/2/3

}

