*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
}

div{
    border-radius: 12px;
    background-color: rgba(140, 137, 137, 0.494);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
}




div p:nth-child(2){
    color:white
}

div img{
    width: 100%;
}

@media (max-width: 768px){
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0rem;
    }
    
}

@media (max-width: 375px){
    main{
        display: flex;
        justify-content: center;
    }
}
