body{
    background-color: gray;
}


.Nav{
    border: 2px solid rgb(0, 0, 0) ;
    text-align:start;
    background-color:rgb(3, 3, 43);
    border-bottom: 1px solid white;
} 

ul li:first-child a, ul li:nth-child(2) a{
    color: white;

}

ul li:nth-child(3) a {
    color: lightgray;
}

li>label {
    color: gray;
}


ul {
    list-style: none;
    
}

li button{
    border: none;
}

li{
    display: inline;
}
 
ul li:last-child button:hover {
    color: rgb(255, 255, 255);
    background-color: green;
    
}
ul li:last-child button {
    color:green;
    background-color:rgb(3, 3, 43);
    border: 1px solid green
}
 



